<ion-view view-title="Decision">
  <ion-content>

    <div class="list card" ng-repeat="decision in decisions" type="item-text-wrap" href="#/tab/decisions/{{decision.id}}">
      <div class="item item-divider"> {{decision.question}} {{ decision.numTrue }}/{{ decision.numAnswers }}</div>
      <div class="item item-body">
        <div>
          <label class="item item-input">
            <span class="input-label">Question</span>
            <input type="text" ng-model="decision.question">
          </label>   
          <button class="button" ng-click="save()">Save</button>
        </div>
      </div>
    </div>

    <div class=    
  </ion-content>
</ion-view>
